<?xml version="1.0" ?>
<scene>
  <group>
    <translate x="0" y="0" z="0" />
    <scale x="2" y="1" z="1" />
    <rotate angle="0" x="0" y="0" z="0" />
    <models>
      <model file="sphere.3d" />
    </models>
    <group>
      <translate x="0" />
      <scale x="0.2" y="0.2" z="0.2" />
      <models>
        <model file="cone.3d" />
        <model file="plane.3d" />
        <model file="box.3d" />
        <model file="sphere.3d" />
        <model file="plane.3d" />
        <model file="torus.3d" />
      </models>
      <group>
        <translate x="3" y="0" z="0" />
        <scale x="1" y="1" z="1" />
        <rotate angle="0" x="0" y="0" z="0" />
        <models>
          <model file="cone.3d" />
          <model file="plane.3d" />
          <model file="box.3d" />
          <model file="sphere.3d" />
          <model file="plane.3d" />
          <model file="torus.3d" />
        </models>
        <group>
          <translate x="0" y="0" z="0" />
          <scale x="1" y="1" z="3" />
          <rotate angle="0" x="0" y="0" z="0" />
          <models>

            <model file="sphere.3d" />

          </models>
        </group>
      </group>
    </group>

  </group>
</scene>
